<article class="box-info {{ box.class }}">
  {% if box.image %}
    <div class="box-info--image">
      <img src="{{ box.image }}" alt="{{ box.title }}">
    </div>
  {% endif %}
  <div class="box-info--inner">
    <h2 class="box-info--header {{ box.class }}">{{ box.title }}</h2>
    {% if box.position %}
      <p class="box-info--position">{{ box.position }}</p>
    {% endif %}
    {% if box.about %}
      <p class="box-info--about has-separator">{{ box.about }}</p>
    {% endif %}
    {% if box.email %}
      <a href="mailto:{{ box.email }}" class="box-info--email has-separator">{{ box.email }}</a>
    {% endif %}
    {% if box.phone %}
      <a href="tel:{{ box.phone }}" class="box-info--phone">{{ box.phone }}</a>
    {% endif %}
  </div>
</article>
